################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/iPhone/Debug
/obj
/VisibleTouch.csproj.user
